<div class="container justify-content-center mt-4">
  <h1 class="rubik-mono-one-regular">Usuário:</h1><br>
  <div class="justify-content-center"><br>
   <h3 class="nanum-myeongjo-regular">Name: <%= @user.name %></h3><br>
  </div>
  <div class="justify-content-center"><br>
   <h3 class="nanum-myeongjo-regular">Address:  <%= @user.address %></h3><br>
  </div>
  <div class="justify-content-center"><br>
  <h3 class="nanum-myeongjo-regular">E-mail: <%= @user.email %></h3><br>
  </div>
  Rating <br>
</div>
