<div class="container d-flex justify-content-center">
  <h1>Sobre Nós</h1>
</div><br>
<div class="container d-flex justify-content-center">
  <h4><strong>Você</strong> já comprou algo que nunca usou ?</h4>
</div><br>
<div class="container d-flex justify-content-center">
  <h4><strong>Você</strong> já comprou algo que se arrependeu ?</h4>
</div><br>
<div class="container d-flex justify-content-center text-align">
  <h2>Agora você, além de encontrar com os seus,<br> poderá também se livrar dessa bugiganga inútil!</h2>
</div><br>
<div class="container d-flex justify-content-center">
  <p>Somos um site pensado para você enfim recuperar seu dinheiro e sua <strong>autoestima</strong></p>
</div><br>
