
<div class="card mt-3 container d-flex justify-content-center" style="max-width: 840px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag "logo_bag.png", alt: "Logo", class: "img-fluid p-4" %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title title d-flex justify-content-center">Sobre Nós</h5>
        <p class="card-text arimo">Você</strong> já comprou algo que nunca usou ? ou comprou algo que se arrependeu ?</h4></p>
        <p class="card-text arimo">Agora <strong class="text-decoration-underline">você</strong>, além de encontrar com os seus, poderá também se livrar dessa bugiganga <strong> inútil! </strong></p>
        <p class=" arimo mb-3">Somos um site pensado para você enfim recuperar seu dinheiro e sua <strong>autoestima.</strong></p>
      </div>
    </div>
  </div>
</div>
