<h1 class="d-flex justify-content-center m-4 title rowdies-bold">Editando o produto</h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Ver o produto", @product %> |
  <%= link_to "Lista de produtos", products_path %>
</div>


