<h1 class="d-flex justify-content-center m-4 title rowdies-bold">Adicionando um produto</h1>
<%= render 'form', product: @product %>

<%= link_to "Back", products_path, class: "btn btn-primary btn-card" %>
